Repository c-bv/tzf-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --config ./.prettierrc

.lintstagedrc.json:

{
    "*.{ts,js}": ["eslint --fix", "prettier --write --config ./.prettierrc"],
    "*.{json,md,yml}": ["prettier --write --config ./.prettierrc"]
}

test: Add Dockerfile and CI/CD workflow
  .docker/Dockerfile
  .github/workflows/prod.workflow.yml
Due: prettier --write --config ./.prettierrc

test CI/CD
  .github/workflows/prod.workflow.yml
Due: prettier --write --config ./.prettierrc

Update Dockerfile and prod.workflow.yml
  .docker/Dockerfile
  .github/workflows/prod.workflow.yml
Due: prettier --write --config ./.prettierrc

Update Dockerfile to echo NODE_ENV variable
  .docker/Dockerfile
Due: none

Update Dockerfile and deployment workflow
  .docker/Dockerfile
  .github/workflows/prod.workflow.yml
Due: prettier --write --config ./.prettierrc

Update .gitignore and package.json
  .gitignore
  package-lock.json
  package.json
  src/config/config.ts
  tsconfig.build.json
Due: eslint --fix, prettier --write --config ./.prettierrc

Add Docker Compose file and set NODE_ENV to production
  .docker/Dockerfile
  docker-compose.yaml
Due: none

Add .env file to Docker build process
  .docker/Dockerfile
Due: none

perf: Remove express-rate-limit types package
  package-lock.json
  package.json
Due: prettier --write --config ./.prettierrc

Update Dockerfile to fix file path issues
  .docker/Dockerfile
Due: none

Update Dockerfile to include node_modules in runner stage
  .docker/Dockerfile
Due: none

Fix file permissions in Dockerfile
  .docker/Dockerfile
Due: none

Update Docker actions versions
  .docker/Dockerfile
  .github/workflows/prod.workflow.yml
Due: prettier --write --config ./.prettierrc

Commented out creation of .env file in prod workflow
  .github/workflows/prod.workflow.yml
Due: prettier --write --config ./.prettierrc

Add .env file and update docker-compose.yaml
  .github/workflows/prod.workflow.yml
  docker-compose.yaml
Due: prettier --write --config ./.prettierrc

Update deployment workflow to create .env file
  .github/workflows/prod.workflow.yml
Due: prettier --write --config ./.prettierrc

Add debug statement for secret length and fix typo in .env file
  .github/workflows/prod.workflow.yml
Due: prettier --write --config ./.prettierrc

Add environment variable for production
  .github/workflows/prod.workflow.yml
Due: prettier --write --config ./.prettierrc

Remove debug secret length and update .env file
  .github/workflows/prod.workflow.yml
Due: prettier --write --config ./.prettierrc

Update deployment configuration and Docker Compose file
  .github/workflows/prod.workflow.yml
  docker-compose.yaml
Due: prettier --write --config ./.prettierrc

Update traefik configuration for tzf-api
  docker-compose.yaml
Due: none
